Scripts/
Templates/__pycache__/

# vscode
.vscode

# compiled files
*.exe
*.class

# intellij
.idea
CMakeLists.txt
cmake-build-debug
Include

# test and temporary files
test.cpp
test.c
test.py
test.java

tempCodeRunnerFile.cpp
tempCodeRunnerFile.c
tempCodeRunnerFile.py
tempCodeRunnerFile.java