Scripts/
Templates/__pycache__/
Templates/Debugger/

# vscode
.vscode

# compiled files
*.exe
*.class

# intellij
.idea
CMakeLists.txt
cmake-build-debug
Include

# other files (msg me for user script)
Other*Things/