*
!/**/
!*.*

# vscode
.vscode/

# intellij
.idea

# compiled files
*.exe
*.out
*.class

# io files
input.txt
output.txt
*.in

# tests
Tests/
gen.py
cube/
levvesegtree/
kkspheres/
Pipfile.lock